* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
    font-family: 'open-sans', sans-serif;
}

/* Header Section Styling */

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
}
.section-about-me{
	padding: 150px 0;
}

.about-container{
	width: 1200px;
	margin: 0 auto;
}
.about-intro{
	font-family: 'Open Sans', sans-serif;
	font-weight: 700px;
	text-align: center;
	font-size: 28px;
	margin-bottom: 20px;
}

p{
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	color:rgb(96, 96, 96)	
}

.container-mark-intro{
	display: flex;
	flex-direction: row;
	height: auto;
	width: 100%;
	/* font-family: 'Open Sans', sans-serif; */
}

ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.intro-left-heading{
	font-weight: bold;
	margin-bottom: 16px;
}

ul li a:link {
    text-decoration: none;
    color: #57585b;
}

.container-about-intro{
text-align: center;
}


/* Hero Section Styling */

.section-hero {
    width: 100vw;
    background: #fbfbfb;
    position: relative;
    overflow: hidden;
}

.section-hero-container {
    height: auto;
/*     width: 100%; */
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    padding: 50px 0;
}

.about-paragraph{
	max-width:600px;
	/* font-size:10px; */
	margin:0 auto;
}

.hero-details {
/*     height: 100%; */
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 30px;
}

.progress-bar{
	align-items: right;
	width:100%;
	padding:30px;
	
}

/* progress{
	width:100%;
} */

.progress-bar-html{
	width: 00px;
	height: 10px;
	background-origin: 1px solid black;
	border-radius: 10px 10px 10px 10px ;
	background-color: lightgray;
}
.line{
	width: 75%;
	height: 10px;
	background-color: #764ef9;
	transform-origin: left;
}


.hero-image-wrapper {
/*     height 100%; */
    width: 50%;
    height: auto;
    margin: auto 0;
}

.intro-left{
	width:50%;
	padding: 30px;
}

.hero-image {
    height: 426px;
}

.mark-intro{
	/* max-width: 605px; */
	text-align: left;
	/* padding: 30px; */
}

.details{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	margin-top: 16px;
	align-items: center;
}

.details i{
	color: rgba(117, 78, 249,0.4);
}

/* h1 > span {
    display: block;
} */

.hero-heading {
    font-size: 28px;
}


.heading-style {
    display: block;
    font-size: 42px;
    color: #040404;
}

.details-elements{
	width: 50%;
	margin-top: 5px;
	display: flex;
}

.hero-description {
    font-size: 14px;
    color: #5c5c5c;
}

.dob{
	display:flex;
	padding-bottom: 10px;
	padding-left: 10px;
}

.btn {
    font-size: 14px;
    background-color: #754EF9;
    display: block;
    padding: 10px 25px;
    color: #fff;
    border-radius: 50px;
    width: auto;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.span-dob{
	font-weight: bold;
}

a:link {
    text-decoration: none;
}

.email{
	display: flex;
}

.span-email{
	font-weight: bold;
}

.phone{
	display:flex;
	padding-bottom: 10px;
	padding-left: 10px;
}

.margin-top-s {
    margin-top: 20px;
}

.margin-top-m {
    margin-top: 40px;
}

/* Shape Decorations in the Header */

.shape1 {
    position: absolute;
    left: -20px;
    top: -20px;
    width: 60px;
}

.shape1b {
    position: absolute;
    right: 150px;
    top: 250px;
    width: 60px;
}

.shape2 {
    position: absolute;
    left: 300px;
    top: -40px;
    width: 60px;
}

.shape2b {
    position: absolute;
    right: 240px;
    top: 0px;
    width: 60px;
}

.shape3 {
    position: absolute;
    left: 40%;
    top: -10px;
    width: 110px;
}

.shape3b {
    position: absolute;
    right: 10%;
    bottom: 10px;
    width: 110px;
}

.shape3c {
    position: absolute;
    left: 2%;
    bottom: 20%;
    width: 110px;
}

.shape4 {
    position: absolute;
}

.shape5 {
    position: absolute;
    left: 0;
    bottom: 8%;
    width: 100px;
}

.shape6 {
    position: absolute;
    bottom: 0;
    left: 48%;
    width: 90px;
}

.line-decoration {
    position: absolute;
    left: 0;
    bottom: 8%;
    width: 180px;
    height: 2px;
    background: #764ef9;
}

.social-icons-wrapper {
    position: absolute;
    left: 20%;
    bottom: 8%;
    background: #754EF9;
}

.span-phone{
	font-weight: bold;
}

.location{
	display:flex;
}

.span-location{
	font-weight: bold;
}

.section-services{
	padding:150px 0;
	background-color: #F4F4F6;

} 

.services-container{
	max-width: 1200px;
	margin:0 auto;

}

.my-services-heading{
	font-weight: bold;
	text-align: center;
	font-size: 28px;
}

.my-service-paragraph{
	max-width:600px;
	margin:0 auto;
	text-align: center;
	margin-top:20px;
}

.container-services-cards{
	display: flex; 
	flex-wrap: wrap;
	height: auto;
	width: 100%;
	gap:25px;
	margin-top: 60px;
}
.services-item{
	display: flex;
	flex-direction: column;
	align-items: center;
	width:30%;
	padding:50px;
	background-color: #ffffff;
	/* border: lightgray solid 5px; */
	border-radius: 10px;
}

.service-item-heading{
	margin-top: 10px;
	font-size: 20px;
}

.my-service-item-paragraph{
	text-align: center;
	margin-top: 20px;
}

.container-services-cards i{
	color:#764ef9;
	font-size: 40px;
}

/* Section CTA Styling */

/* Section Recent Works Syling */

/* Section Pricing Syling */

/* Section Blog Syling*/

/* Section Contact Syling */

/* Footer Syling */
